@media screen and (min-width:650px){


    /*button*/
    #menuButton{
        display: none;
    }

    
    header{
        display: grid;
        grid-template-columns: 1fr 8fr;
        grid-template-rows: 50px;
    }
    #logo{
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 0.5em;
    }
    
    .navigationList{
        display: flex;
        justify-content:flex-end;
        color:#3d3d3a;
        padding: 0;
    }
    .navigationList li{
        margin-right: 25px;
    }
    .navigationList a{
        color:#3d3d3a;
        font-weight: 300;
        font-size: 1.2em;
    }
    .navigationList a:hover{
        color:rgb(61, 61, 58,0.6);
    }
   
  
    /*hero*/
    #hero{
        display: grid;
        grid-template-columns:  0.1fr 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.1fr 0.5fr;
    }
    #hero-text{
        grid-row: 2/3;
        grid-column: 2/4;
        text-align: left;
        z-index: 2;
    }
    #hero-text p{
        font-size: 3.5em;
        text-align: left;
    }

    /*join button*/
    #join-container{
        grid-row: 3/4;
        grid-column: 2/4;
        text-align: left;
        z-index: 2;
    }
    #join{
        padding: 1em;
        padding-left: 2.5em;
        padding-right: 2.5em;
        font-size: 1.2em;
    }


}