* {
	padding: 0;
	box-sizing: border-box;
}
body{
    background-color: #eeebee;
    color:#4a4a49;
    font-family: 'Chivo', sans-serif;
}
body.dark{
    background-color: #211C21;
    color: #F6F6F6;
}
header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    color: #062849;
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    font-size: 50px;
    align-items: center;
    justify-items: center;
    margin-top: 0.5em;
}
header img{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 210px;
    height: 222px;
}
header span{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    margin-left: .5em;
}
body.dark header{
    color:#F6F6F6;
}

#darkMode{
    width: 30px;
    height: 30px;
    grid-column: 1/2;
    grid-row:1/2;
    cursor: pointer;
    justify-self: end;
    margin-right: 1em;
}
body.dark #darkMode{
    /*filter: invert(100%);*/
    content:url("../images/brightMode.svg");
}
hr{
    border: 0.8px solid #4a4a49;
    width: 95%;
    margin: auto;
}
body.dark hr{
    border: 0.8px solid #F6F6F6;
}

nav{
    line-height: 2em;
    font-family: 'Chivo';
    font-size: 22px;
    /*padding-top: 0.5em;
    padding-bottom: 0.5em;*/
    text-align: center;


}
nav a{
    font-weight:bolder;
    text-decoration: none;
    color:#4a4a49;
}
nav a:hover{
    color: rgb(74, 74, 73,0.7);
    cursor: pointer;

}
body.dark nav a{
    color:#F6F6F6;
}
body.dark nav a:hover{
    color: rgba(246, 246, 246, 0.70);
}

#button{
    border: 0px;
    background-color: #eeebee;
    color:#4a4a49;
    font-size: 2em;
    cursor: pointer;
    margin-bottom: 50px;
    margin-top:20px;
}
body.dark #button{
    color:#F6F6F6;
    background-color: #211C21;
}

#button:hover{
    color: rgb(74, 74, 73,0.7);
}
#button::before{
    content:"︾";
}
#button.open::before{
    content: "︽";
}

.menuList{
    list-style-type: none;
    display: none;
    padding-bottom: 0px ;
}
.menuList.open{
    display: block;
    margin-top: 0em;
    line-height: 3em;
    
}
.current-menu-item{
    /*background-color: #e0cee3;*/
    padding: 0.8em;
    border-radius: 50%;
    border: groove 5px #e0cee3;
}

.picture-container{
    position: relative;
}

.picture-container img{
    width:100%;
    height: auto;
    display: block;
}
.picture-label{
    position: absolute;
    bottom:0;
    right:0;
    left:0;
    color:#4a4a49;
    background-color: #f6f6f6b9;
    font-family: 'Fraunces', sans-serif;
    font-size: 50px;

}
.picture-label p{
    margin: 0;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-align: center;
}


main{
    display: grid;
    grid-gap: 1rem;
    margin-bottom: 5em;
}
main a{
    text-decoration: none;
    color:#4a4a49;
}
main a:hover{
    color: rgb(74, 74, 73,0.7);

}

main h1{
    grid-row: 1/2;
    text-align: center;
    font-family: 'Fraunces', sans-serif;
    font-weight: 600;
    color:#4a4a49;
    font-size: 1.5em;
}
body.dark main h1{
    color:#F6F6F6;
}

#links{
    grid-row: 2/3;
    padding-left: 0.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
}
body.dark #links{
    color:#4a4a49;
}
#info{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-size:18px;
}
body.dark #info{
    color:#4a4a49;
}



.card{
    /*border: 8px solid white;*/
    border-radius: 2%;
    /*background-color: #e6ecef;*/
    background-color: white;
}

.card h2{
    text-align: center;
    color: #4a4a49;
    font-weight: 600;
    font-size: 22px;
}
main ul{
    list-style-type: none;
    font-size: 18px;
    line-height: 1.8;
    margin-left: 1em;
    margin-right: 1em;
}


li a{
    margin-left: 0.4em;
    margin-right: 0.4em;
}
.iframe{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    padding: 2.5rem;
    background-color: #062849;
    color:#e6ecef;
    text-align: center;
}
body.dark footer{
    background-color:#796779;
}
@media screen and (max-width:425px){
    header{
        grid-template-rows: auto;
    }
    header span{
        margin:0;
        grid-row: 3/4;
        margin-top:.5em;
        margin-bottom:.5em;
        font-size:.7em;
    }
    header img{
        grid-row: 2/3;
    }
    .picture-label {
        font-size: 20px;
    }
    #darkMode{
        margin:0 auto;
        grid-row: 1/2;
        margin-bottom:.5em;
    }

    main ul, #info{
        font-size: 14px;
    }
    .card h2{
        font-size: 20px;
    }

    
}