*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;
}

main {
	display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
}

h2 {
	color: navy;
	text-align: left;
    grid-column: 1/3;
}

article p {
	text-align: justify;
}

.callout {
	color: #413e3e;
	background-color: #DAFEA4;
    padding: 1em;
    grid-column: 1/3;
}

footer {
	margin-top: 1.5rem;
    padding-top: 1em;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}
.banner{
    text-align: center;
    background-color: #fbf8f4;
    padding: 1.5em;
    border:#dbd8d4 0.5px solid;
}
section{
    padding: 1em;
}
